
    <h1>Contact</h1>
    <p>
      Contact Ruby on Rails Tutorial about the sample app at the
      <a href = "http://google.co.kr/">feedback page</a>
      <a href = "http://google.co.kr/">Ruby on Rails Tutorial</a>
      <a href = "http://railstutorial.org/">Ruby on Rails Tutorial</a>
    </p>
